@import '../../../assets/variables.scss';

.table {
    margin: 0 auto;
    width: 60%;
}

.header {
    display: flex;
    color: $grey;
    font-size: rem(24px);
    margin-bottom: 15px;

    div {
        min-width: 80px;
    }
}

.controls {
    width: 100%;
    display: flex;
    justify-content: end;
}

.addBtn {
    background-color: $blue;
    color: $white;
    border: none;
    border-radius: 8px;
    padding: 16px 24px;
    margin-top: 20px;
    cursor: pointer;
    font-size: rem(20px);
}